<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Cars</title>
    <style>
        table th, table td {padding: 5px;}
        .row  {
            font-style: italic;
        }
    </style>
</head>
<body>
<h1>Cars list</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Model</th>
        <th scope="col">Version</th>
        <th scope="col">Color</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="count" type=""*/-->
    <tr th:each="car, iStat: ${cars}">

        <td th:text="${car.Model}">Model</td>
        <td th:text="${car.Version}">Version</td>
        <td th:text="${car.Color}">Color</td>
<!--        <td th:text="${prod.inStock}? #{true} : #{false}">yes</td>-->
    </tr>
    </tbody>
</table>
<p>
    <a href="../home.html" th:href="@{/}">Return to home</a>
</p>
</body>
</html>